body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.span_box{
  border: 1px solid;
  padding: 10px;
  background-color: #fff;

}

.span_box_active{
  border: 1px solid;
  padding: 10px;
  background-color: red;
}
.p_tag{
  margin: 0px;
  padding: 10px;
  border: 1px solid;
}